interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discountingcashflows.com/api/income-statement/quarterly/AAPL/?key=e787734f-59d8-4809-8955-1502cb22ba36
  response:
    body:
      string: '{"originalCurrency": "USD", "convertedCurrency": "USD", "report": [{"date":
        "2023-12-30", "symbol": "AAPL", "reportedCurrency": "USD", "cik": "0000320193",
        "fillingDate": "2024-02-02", "acceptedDate": "2024-02-01 18:03:38", "calendarYear":
        "2024", "period": "Q1", "revenue": 119575000000, "costOfRevenue": 64720000000,
        "grossProfit": 54855000000, "grossProfitRatio": 0.4587497387, "researchAndDevelopmentExpenses":
        7696000000, "generalAndAdministrativeExpenses": 0, "sellingAndMarketingExpenses":
        0, "sellingGeneralAndAdministrativeExpenses": 6786000000, "otherExpenses":
        -50000000, "operatingExpenses": 14482000000, "costAndExpenses": 79202000000,
        "interestIncome": 0, "interestExpense": 0, "depreciationAndAmortization":
        2848000000, "ebitda": 43221000000, "ebitdaratio": 0.3614551537, "operatingIncome":
        40373000000, "operatingIncomeRatio": 0.337637466, "totalOtherIncomeExpensesNet":
        -50000000, "incomeBeforeTax": 40323000000, "incomeBeforeTaxRatio": 0.3372193184,
        "incomeTaxExpense": 6407000000, "netIncome": 33916000000, "netIncomeRatio":
        0.2836378842, "eps": 2.19, "epsdiluted": 2.18, "weightedAverageShsOut": 15509763000,
        "weightedAverageShsOutDil": 15576641000, "link": "https://www.sec.gov/Archives/edgar/data/320193/000032019324000006/0000320193-24-000006-index.htm",
        "finalLink": "https://www.sec.gov/Archives/edgar/data/320193/000032019324000006/aapl-20231230.htm",
        "calculatedOtherExpenses": 6786000000, "calculatedOperatingExpenses": 14482000000,
        "calculatedNetInterest": 0, "calculatedOtherIncome": -50000000, "calculatedIncomeNonControlling":
        0, "calculatedEbitda": 43221000000}, {"date": "2023-09-30", "symbol": "AAPL",
        "reportedCurrency": "USD", "cik": "0000320193", "fillingDate": "2023-11-03",
        "acceptedDate": "2023-11-02 18:08:27", "calendarYear": "2023", "period": "Q4",
        "revenue": 89498000000, "costOfRevenue": 49071000000, "grossProfit": 40427000000,
        "grossProfitRatio": 0.4517084181, "researchAndDevelopmentExpenses": 7307000000,
        "generalAndAdministrativeExpenses": 0, "sellingAndMarketingExpenses": 0, "sellingGener[...]
- request:
    body: '[{"date":"2020Q2","value":91819000000.0},{"date":"2020Q3","value":58313000000.0},{"date":"2020Q4","value":59685000000.0},{"date":"2021Q1","value":64698000000.0},{"date":"2021Q2","value":111439000000.0},{"date":"2021Q3","value":89584000000.0},{"date":"2021Q4","value":81434000000.0},{"date":"2022Q1","value":83360000000.0},{"date":"2022Q2","value":123945000000.0},{"date":"2022Q3","value":97278000000.0},{"date":"2022Q4","value":82959000000.0},{"date":"2023Q1","value":90146000000.0},{"date":"2023Q2","value":117154000000.0},{"date":"2023Q3","value":94836000000.0},{"date":"2023Q4","value":81797000000.0},{"date":"2024Q1","value":89498000000.0},{"date":"2024Q2","value":119575000000.0}]'
    headers:
    method: POST
    uri: https://api2.correlatefinance.com/correlate_input?aggregation_period=Quarterly&fiscal_year_end=9&lag_periods=3&correlation_metric=RAW_VALUE&start_year=2020&end_year=2024
  response:
    body:
      string: '{"data":[{"title":"All Employees, Couriers and Messengers","internal_name":"CEU4349200001","pearson_value":0.983645929778932,"lag":1,"input_data":[0.0,58313000000.0,59685000000.0,64698000000.0,111439000000.0,89584000000.0,81434000000.0,83360000000.0,123945000000.0,97278000000.0,82959000000.0,90146000000.0,117154000000.0,94836000000.0,81797000000.0,89498000000.0,119575000000.0],"dataset_data":[2651.8999999999996,2613.3,2818.3,3523.8,3264.3999999999996,2984.1000000000004,3080.1,3744.6000000000004,3412.0,3160.7,3164.8999999999996,3681.6000000000004,3248.0,3064.3,3087.8999999999996,3595.8,0.0],"dates":["2020Q2","2020Q3","2020Q4","2021Q1","2021Q2","2021Q3","2021Q4","2022Q1","2022Q2","2022Q3","2022Q4","2023Q1","2023Q2","2023Q3","2023Q4","2024Q1","2024Q2"]},{"title":"U.S.
        Exports of Goods by F.A.S. Basis to Mainland China","internal_name":"EXPCH","pearson_value":0.9424565020958657,"lag":1,"input_data":[0.0,58313000000.0,59685000000.0,64698000000.0,111439000000.0,89584000000.0,81434000000.0,83360000000.0,123945000000.0,97278000000.0,82959000000.0,90146000000.0,117154000000.0,94836000000.0,81797000000.0,89498000000.0,119575000000.0],"dataset_data":[21915.225989,27576.194499,31562.715985000003,43527.373902,35085.391045000004,36475.885566,34021.713214,45848.954291999995,36587.446089,35191.440321999995,37095.75288,45137.433841,38892.292012,33696.587979,33259.473846,41957.282609,0.0],"dates":["2020Q2","2020Q3","2020Q4","2021Q1","2021Q2","2021Q3","2021Q4","2022Q1","2022Q2","2022Q3","2022Q4","2023Q1","2023Q2","2023Q3","2023Q4","2024Q1","2024Q2"]},{"title":"Industrial
        Production: Information: Periodical, Book, and Other Publishers (NAICS = 51112-9)","internal_name":"IPG51112T9N","pearson_value":0.9291290023552865,"lag":2,"input_data":[0.0,0.0,59685000000.0,64698000000.0,111439000000.0,89584000000.0,81434000000.0,83360000000.0,123945000000.0,97278000000.0,82959000000.0,90146000000.0,117154000000.0,94836000000.0,81797000000.0,89498000000.0,119575000000.0],"dataset_data":[239.24020000000002,222.08870000000002,297.56579999999997,272.24760000000003,245.6606,258.9751,302.6744[...]
